@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500|Playfair+Display:900&display=swap&subset=cyrillic');

body {
    margin: 0;
    background: url("../images/cardboard-theme.png");
    font-family: 'Cormorant Garamond', serif;
}

.social {
    position: absolute;
    left: 1105px;
    top: -10px;
}

.social ul {
    list-style: none;
}

.social li {
    display: inline;
    padding-right: 5px;
}

.social a {
    cursor: pointer;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    color: mediumblue;
    text-shadow: 5px 5px 5px cadetblue;
    -webkit-text-stroke: 0.3px black;
}

figure .image-header {
    border-radius: 10px;
}

.line {
    position: absolute;
    top: 220px;
    left: 100px;
    opacity: 0.4;
}

nav {
    position: fixed;
    top: 260px;
    left: 15px;
    font-size: 20px;
    width: 130px;
    height: 255px;
    background-color: rgba(240, 255, 255, 0.4);
    border-radius: 10px;
}

nav ul {
    list-style: none;
    margin-left: -40px;
    margin-top: 5px;
    text-align: center;
}

nav li {
    padding-top: 5px;
    padding-bottom: 5px;
}

nav li:hover {
    text-decoration: underline;
    transform: scale(1.2);
}

nav a {
    text-decoration: none;
    color: mediumblue;
    cursor: pointer;
}


