@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500|Playfair+Display:900&display=swap&subset=cyrillic');

body {
    margin: 0;
    background: url("../images/cardboard.png");
}

ul {
    position: absolute;
    list-style: none;
    left: 960px;
    top:-10px;
}
li {
    display: inline;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    color: mediumblue;
    text-shadow: 5px 5px 5px cadetblue;
    -webkit-text-stroke: 0.3px black;
}

.image-header {
    border-radius: 10px;
}

hr {
    border-style: solid;
    border-width: 1.2px;
    border-color: rgba(105, 105, 105, 0.2);
}

