@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500|Playfair+Display:900&display=swap&subset=cyrillic');

body {
    margin: 0;
    background: url("../images/cardboard-theme.png");
    font-family: 'Cormorant Garamond', serif;
}

.social {
    position: absolute;
    left: 1090px;
    top: -10px;
}

.social ul {
    list-style: none;
}

.social li {
    display: inline;
    padding-right: 5px;
}

.social a {
    cursor: pointer;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    color: mediumblue;
    text-shadow: 5px 5px 5px cadetblue;
    -webkit-text-stroke: 0.3px black;
}

figure .image-header {
    border-radius: 10px;
}

.line {
    position: absolute;
    top: 220px;
    left: 100px;
    opacity: 0.3;
}

nav {
    position: fixed;
    top: 280px;
    left: 30px;
    font-size: 20px;
    width: 130px;
    height: 255px;
    background-color: rgba(240, 255, 255, 0.4);
    border-radius: 10px;
}

nav ul {
    list-style: none;
    margin-left: -40px;
    margin-top: 5px;
    text-align: center;
}

nav li {
    padding-top: 5px;
    padding-bottom: 5px;
}

nav li:hover {
    text-decoration: underline;
    transform: scale(1.2);
}

nav a {
    text-decoration: none;
    color: mediumblue;
    cursor: pointer;
}

.text {
    background: url("../images/block-text-theme.png");
    position: absolute;
    top: 280px;
    left: 195px;
    width: 1250px;
    height: 15000px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 8px darkgray;
}

.text p {
    padding-left: 20px;
    padding-right: 20px;
}

.text .image-1 {
    padding-left: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text .image-2 {
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text .image-3 {
    padding-left: 220px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text .image-4 {
    padding-left: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}














